@import "../styles/variables";

.heroWrapper {
	height: 100vh;
	position: relative;
}

.heroContainer {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	position: relative;
}

.heroBackground {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.2) 23%), url("/images/myImage.jpg");
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 40% 100%, 14% 50%);
}

.heroTextBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 60%;

	h1 {
		font-size: 60px;
		line-height: 70px;
		text-transform: uppercase;
	}

	h1 span {
		width: 100%;
		display: block;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $textColor;
		line-height: 5rem;
	}
	
	& > p {
		margin-top: 15px;
		font-size: 18px;
	}
}

.heroButtons {
	margin-top: 25px;
	
	a {
		button {
			padding: 30px 50px;
			border: 0;
			outline: 0;
			background-color: $themeColor;
			cursor: pointer;
			color: $textColor;
			font-weight: bold;
			font-family: 'Poppins', sans-serif;
		}
		
		&:last-child {
			margin-left: 50px;
			button {
				padding: 0;
				background-color: transparent;
				// border: 3px solid $themeColor;
				// box-shadow: inset 0 0 0 3px $themeColor;
				span {
					margin-left: 5px;
					font-size: 0.8rem;
				}
			}
		}
	}
}

// .heroStats {
// 	width: 100%;
// 	position: absolute;
// 	bottom: 70px;
// 	display: flex;
// 	justify-content: space-between;
	
// 	h2 {
// 		font-weight: 400;
// 		font-size: 1.3rem;
// 	}
	
// 	.singleStats {
// 		display: flex;
// 		align-items: center;
		
// 		h3 {
// 			font-weight: 600;
// 			font-size: 15px;
// 		}
		
// 		p {
// 			font-size: 14px;
// 			margin-left: 10px;
// 		}
// 	}
// }

.socialIcons {
	
	width: 100%;
	position: absolute;
	bottom: 70px;
	
	.horizontalLine {
		display: inline-block;
		vertical-align: middle;
		width: 61%;
		margin-right: 2rem;
		border-bottom: 1px solid $grayColorSubtle;
	}
	
	h2 {
		display: inline-block;
		font-weight: 600;
		font-size: 1.1rem;
	}
	
	a {
		color: $textColor;
		font-size: 1rem;
		padding: 10px;
		
		&:not(:first-child) {
			margin-left: 1rem;
		}
	}
}