@import "../styles/variables";

.heroContainer {
	padding: 100px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.heroImageAndText {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.heroTextContainer {
	display: grid;
	align-items: center;

	h1 {
		text-align: right;
		padding-right: 6rem;
	}

	h1 span {
		display: block;
		width: 100%;
		font-size: 60px;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $textColor;
		line-height: 5rem;
	}

	h1 span:nth-child(3) {
		font-size: 70px;
		margin: 8px 0;
		-webkit-text-stroke-width: 0;
		-webkit-text-stroke-color: transparent;
		color: $textColor;
	}
}

.heroImageBoxContainer {
	height: 550px;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background-color: $themeColorLight;
		z-index: -1;
		top: 15px;
		left: 15px;
		border-radius: 10px;
	}
}

.heroImageContainer {
	width: 100%;
	overflow: hidden;
	height: 100%;
	border-radius: 10px;

	img {
		width: 150%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
}
