@import "../styles/variables";

.navContainer {
	padding: 50px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: "Caveat", cursive;
	font-weight: bold;
	color: $themeColor;
	font-size: 2rem;
	text-decoration: none;
}

.navMenu {
	a {
		text-decoration: none;
		color: $textColor;
		font-size: 1rem;
		padding-bottom: 4px;
	}

	a:not(:last-child) {
		margin-right: 30px;
	}
}

.searchBox {
	padding: 15px 20px;
	border: 1px solid $textColor;
	border-radius: 10px;
	display: flex;
	align-items: center;

	// &:hover {
	// 	border: 1px solid $themeColor;
	// }

	input[type="text"] {
		border: none;
		outline: none;
		font-size: 1rem;
		color: $textColor;
		background-color: transparent;
	}
}
