@import "../styles/variables";

// .navWrapper {
// 	// background-color: transparent;
// 	// background-blend-mode: multiply;
// }

.navWideBG {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	padding: 3rem 0;
	z-index: 1;
}

.navContainer {
	width: 1300px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	z-index: 1;
}

.logo {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: $textColor;
	font-size: 2.2rem;
	text-decoration: none;
}

.navMenu {
	display: flex;
	// grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	justify-content: center;
	align-items: center;

	a {
		min-width: max-content;
		text-decoration: none;
		color: $textColor;
		font-size: 1.05rem;
		padding: 0 4px 2px 4px;
	}

	a:not(:last-child) {
		margin-right: 20px;
	}
}

// .heroLink {
// 	padding: 5px 10px;
// 	border-radius: 5px;
// 	background-color: $themeColor;
// 	transition: background-color 0.2s ease-in-out;

// 	&:hover,
// 	&:focus {
// 		background-color: $themeColorDeep;
// 	}
// }

.searchBoxContainer {
	display: flex;
	justify-content: flex-end;
}

.searchBox {
	width: 50%;
	padding: 15px 20px;
	border: 2px solid #fbc531;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	input[type="text"] {
		width: 100%;
		border: none;
		outline: none;
		font-weight: 600;
		font-size: 1.05rem;
		color: #fbc531;
		caret-color: #fbc531;
		background-color: transparent;
		
		&::placeholder {
			font-weight: 600;
			color: #fbc531;
			transition: opacity 200ms;
		}
		
		&:focus::placeholder {
			opacity: 0.3;
		}
	}
}

.searchInputContainer {
	width: 100%;
}

.searchIconContainer {
	position: absolute;
	right: 0.8rem;
	top: 50%;
	transform: translateY(-50%);
}
