@import '../../../styles/variables';

.comSmall {
    
    display: flex;
    gap: 20px;
    border-left: 2px solid $grayColorSubtle;
    
    .comSmallIcon {
        font-size: 2rem;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .comSmallTexts {
        flex: 1;
    }
}