$grayColorSubtle: #a4a4a4;
$grayColor: #8a8a8a;
// $themeColor: #22b14c;
$textColor: #2d3436;
$textColorLight: #6a6a6a;
// $themeColor: #34495e;
$themeColor: #fbc531;
$themeColorLight: #fae5a9;

// $themeColorLight: rgba(34, 177, 76, 0.25); //#22b14c
// $themeColorDeep: #1c8f3e;
// $themeColorSubtle: rgba(241, 255, 240, 0.8); // #f1fff0
