@import "../styles/variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input {
	caret-color: $textColor;
}

::placeholder {
	color: $textColor;
}

body {
	font-family: Roboto, sans-serif;
	color: $textColor;
	background-color: beige;
}
