// @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../styles/variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	// min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	// font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $textColor;
	font-size: 1rem;
	position: relative;
}

// body::after {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 6%;
// 	height: 100%;
// 	background: #EB3349;  /* fallback for old browsers */
// 	background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(to bottom, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// 	z-index: 2;
// }

.container {
    width: 1300px;
    margin: 0 auto;
}

.fullWidthWrapper {
	width: 100%;
}

@media only screen and (max-width: 1400px) {
	
}

input[type=text], textarea {
	font-size: 1rem;
}

section {
	margin-top: 14rem;
}


.badge {
    width: max-content;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    padding: 8px;
    background-color: $themeColorLight;
}
