@import '../../styles/variables';

.box {
    // height: 800px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 10rem;
    
    .grid {
        height: 100%;
        display: grid;
        align-items: center;
	    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        
        .image {
            position: relative;
            width: 500px;
            height: 500px;
        }
        
        .about {
            
            display: flex;
            flex-direction: column;
            padding-right: 100px;
            gap: 10px;
            
            .title {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                color: $textColor;
                font-size: 2rem;
                // margin: 10px 0;
            }
            
            .content {
                font-size: 15px;
                line-height: 32px;
                color: $textColorLight;
            }
            
            
        }
    }
}
